@tailwind base;
@tailwind components;
@tailwind utilities;


.openSide {
 @apply translate-x-0;
 --tw-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    --tw-shadow-colored: 0 20px 27px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

body.modal-active aside {
    opacity: 0.5; /* Redupkan sidebar */
    pointer-events: none; /* Tidak interaktif */
    transition: opacity 0.3s ease;
  }
  
  /* Pastikan modal tetap di atas */
  body.modal-active #popup-modal {
    z-index: 50; /* Modal harus di atas backdrop dan elemen lainnya */
  }


  .modal-open #popup-modal ~ aside {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
.navDiv.active {
    @apply bg-gradient-to-tl from-purple-700 to-blueNav ;
}

a.active{
    @apply  shadow-xl text-sm  my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700;
   
}

i.active{
    @apply text-white;
}

.petugas.actives {
    @apply text-slate-800
}

.actives {
   z-index : 990;
}

.activePagination{
  @apply z-10 flex items-center justify-center px-3 h-8 leading-tight border text-blueNav bg-sky-50;
  
}